.container {
  display: flex;
  flex: 1 1 0;
}

.contentbox {
  border-left: 1px solid #a2a2a2;
  border-right: 1px solid #a2a2a2;
  flex: 4 4 0;
}

.ad {
  flex: 1 1 0;
  background-color: rgb(231, 231, 231);
}

@media (max-width: 1200px) {
  .container {
    flex-direction: column;
  }
  .contentbox {
    border-top: 1px solid #a2a2a2;
    border-bottom: 1px solid #a2a2a2;
  }
}
